<!DOCTYPE html>
<html>
    <head>
        <title>
            Animal shelters app
        </title>
    </head>
    <body>
        <header>
            <h1>Welcome to our Shelters app! </h1>
            <nav>
                <a href="/shelters">Home</a>
                <a href="/animals">All the animals!</a>
            </nav>
        </header>
        <div>
            {% block content%}        


            {% endblock %}
        </div>
        <footer>All rights reserved</footer>
    </body>
</html>