{% extends "layout.html" %}

{% block content %}
    <div>
        <h3>Sign up</h3>
        <div>
            <form action="{{ url_for('auth.auth_register') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="text" name="username" placeholder="Username" autofocus="">
                <input type="password" name="password" placeholder="Password">
                <button>Sign up</button>
            </form>
        </div>
    </div>
{% endblock %}